div
p, li{font-family: 'Josefin Sans', sans-serif;}
h4 {font-family: 'Merriweather', serif; font-color: grey;}
header, quote{font-family: 'Abril Fatface', cursive;}

header {
  width: 800px;
  height:200px;
  background-image: url('http://stayathome-syllabus.greenfox.academy/week01/assets/first-website-header.png');
  background-size: cover;
  margin-bottom: 60px;
  text-align: center;
  text-position: relative;
}
h1{position: absolute;
  bottom: px;
}
main{width: 60%;}